name: Build and Test

on:
  [push, pull_request]

jobs:
  ci:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version:
          - '3.0-beta.0'

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Build
      run: ./build.sh
      env:
        CI_VERSION: ${{ matrix.version }}

    - name: Test
      run: ./test.sh
      env:
        CI_VERSION: ${{ matrix.version }}
        SKIP_CLEANUP: 1
